// Create a soft, nice looking border shadow. Use for buttons
@mixin border-shadow-soft {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .08),0 2px 4px -1px rgba(0, 0, 0, .06);
}

@mixin border-shadow-soft-wide {
  box-shadow: -1px 4px 6px 3px rgba(0, 0, 0, .03),0 2px 12px 1px rgba(0, 0, 0, .01);
}

@mixin border-shadow-ui-element {
  box-shadow: -1px 4px 6px 3px rgba(0, 0, 0, .09),0 2px 12px 1px rgba(0, 0, 0, .03);
}

// Used for buttons and other ui elements that have a darker bg 
// and need the text to stand out
@mixin white-text-on-dark-bg {
  color: white;
}

// Use to stop mobile highlighting text of buttons
@mixin stop-mobile-text-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

// Include this mixin when writing styles specifically for a specific width.
// Basically replace what would usually be the media query with this
@mixin breakpoint-screen-larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
