$color-bg: #f7f7f7;

$color-primary: #7700ff;
$color-secondary: #23aac2;
$color-tertiary: #7be73c;

$color-text-black: #1d1d1d;
$color-header-black: #5f5f5f;

$color-white-offset: #efefef;


$spacing-small: 8px;
$spacing-default: 16px;
$spacing-large: 32px;
$spacing-x-large: 64px;

$breakpoint-tablet: 450px;
$breakpoint-desktop: 800px;
