// $color-primary: #01937C;
// $color-secondary: #B6C867;
// $color-bg: #FAF1E6;
// $color-tertiary: #FFC074;

// $color-primary: #53354A;
// $color-secondary: #2B2E4A;
// $color-bg: #E84545;
// $color-tertiary: #903749;

// The previous theme colours
// $color-primary: #EA5455;
// $color-secondary: #2D4059;
$color-bg: #f7f7f7;
// $color-tertiary: #FFD460;


$color-primary: #7700ff;
$color-secondary: #23aac2;
$color-tertiary: #7be73c;

$color-text-black: #1d1d1d;
$color-header-black: #5f5f5f;
// $color-white-offset: #f6fafd;
// $color-white-offset: #ebf4fb;
// $color-white-offset: #f0f7ff;
$color-white-offset: #efefef;


$spacing-small: 8px;
$spacing-default: 16px;
$spacing-large: 32px;
$spacing-x-large: 64px;

$breakpoint-tablet: 450px;
$breakpoint-desktop: 800px;

// Sunset theme
// #2D4059 - blueish black
// #EA5455 - red
// #F07B3F - orange
// #FFD460 - light orange

// Pink and black theme
// #2B2E4A - navy blueish-black colour
// #E84545 - hot pink
// #903749 - maroon
// #53354A - dark pinkish brown colour

// Light blue theme
// #4C4C6D
// #B8DFD8
// #E8F6EF
// #FFE194

// Green and orange theme
// #01937C - nice darker green
// #B6C867 - zesty green
// #FFC074 - orange
// #FAF1E6 - light creamish colour
