$color-primary: #01937C;
$color-secondary: #B6C867;
$color-bg: #FAF1E6;
$color-tertiary: #FFC074;

$spacing-small: 8px;
$spacing-default: 16px;
$spacing-large: 32px;
$spacing-x-large: 64px;

// Light blue theme
// #4C4C6D
// #B8DFD8
// #E8F6EF
// #FFE194

// Green and orange theme
// #01937C - nice darker green
// #B6C867 - zesty green
// #FFC074 - orange
// #FAF1E6 - light creamish colour
