
//- The error flash message
div#flash-dialog-error.flash-dialog.--error.--hide
  div.flash-button-close
    div.x-line.top
    div.x-line.bottom
  div#flash-error-text-container.flash-text-container
    p.flash-text

//- The flash message displaying messages about how to play the game
div#flash-dialog-information.flash-dialog.--tip.--hide
  div.flash-button-close
    div.x-line.top
    div.x-line.bottom
  div#flash-help-text-container.flash-text-container
    p.flash-text