div#screen-create.screen.--display-hidden
  form#form-create
    input(type="text" id="input-name-create" class="input-name-create" placeholder="Your name")
    br
    input(type="submit" value="New lobby")