div#screen-create.screen.--display-hidden
  div.content-container
    form#form-create
      input(type="text" id="input-name-create" size="12" class="input-name-create" placeholder="Your name").input
      input(type="submit" value="New lobby").button-primary