div#screen-join.screen.--display-hidden
  div.content-container.div-join-container
    #p.p-instruction Enter details below to join a lobby
    form#form-join
      input#input-lobby-number(type="number" size="4" placeholder="Lobby PIN (4 digits)").input
      input#input-name-join(type="text" size="12" placeholder="Your name").input
      input(type="submit" value="Join game").button-primary
