div#screen-join.screen.--display-hidden
  #p.p-instruction Enter details below to join a lobby
  form#form-join
    input#input-lobby-number(type="number" placeholder="Lobby PIN (4 digits)").input
    input#input-name-join(type="text" placeholder="Your name").input
    input(type="submit" value="Join game").button-primary
