div#screen-join.screen.--display-hidden
  form#form-join
    input#input-lobby-number(type="number" placeholder="Lobby number (4 digits)")
    br
    input#input-name-join(type="text" placeholder="Your name")
    br
    input(type="submit" value="Join game")
