div#screen-lobby.screen.--display-hidden
  h2#h2-lobby-id Lobby id
  div#display-teams
    div.lobby-team-container
      p Team 1
      div#div-team1
    div.lobby-team-container
      p Team 2
      div#div-team2
  form#form-start-game
    input(type="submit" value="Start")