div#screen-menu.screen
  div#div-menu-container.content-container
    h1#game-title= title
    div#menu-button-container
      button(type="button" onClick="changeScreen('screen-create')").button.button-primary Create game
      button(type="button" onClick="changeScreen('screen-join')").button.button-primary Join game