div#screen-round-ready.screen.--display-hidden
  div#div-ready-container.content-container
    p#p-rule-name
    p#p-rule-description
    p#p-speaker
    div.seconds-desc
      include ../images/clockblue.svg
      p#p-seconds