div#screen-scores.screen.--display-hidden
  h2#score-title Scores
  div.round-end-score-container
    p#t1-scores
    p#t2-scores
    p#points-needed
  button(type="button" onClick="nextRound()").button-primary Start next round