#screen-menu {
  display: flex;
  flex-direction: column; // Each element inside the main menu screen should be layed out vertically
  justify-content: center; // Centre the header and buttons in the middle of the screen

  text-align: center;
}

  #div-menu-container {
    // Make the container a little larger, since this is the main screen and should
    // draw more attention
    padding: $spacing-large;

    @include breakpoint-screen-larger-than($breakpoint-tablet) {
      width: 18em;
    }
  }

  #game-title {
    margin-bottom: $spacing-large;
    font-family: 'caveat';
    transform: skewY(-3deg);
    letter-spacing: 1px;
    color: $color-header-black;

    // Make the header text not selectable
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  #menu-button-container {
    
    .button-primary {
      margin: 0 auto;
      margin-bottom: $spacing-small;
      display: block;
      min-width: 10em;
      width: 100%;
    }
  }

  #author-text {
    position: fixed;
    bottom: 8px;
    left: 8px;
    font-size: 1rem;

    & a {
      color: rgb(30, 122, 184);

    }
  }