#screen-scores {

  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

  .div-scores-content-container {
    width: 100%;
  }

  .round-end-score-container {

    margin-top: $spacing-x-large;
    margin-bottom: $spacing-large;

    p {
      margin-bottom: $spacing-default;
    }
  }