#screen-round-ready {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 25vh; // Push the text closer towards the top
  text-align: center;
  
  & * {
    margin-bottom: $spacing-default;
  }

  #p-speaker {

  }

  #p-rule-description {
    // text-align: justify;
    width: 80%;
    margin: 16px auto;
    font-size: 1.15rem;
    margin-bottom: 32px;
  }
}