// This is the screen that's shown when players are playing the game
#screen-word {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

  .div-card {

    width: 100%;
    margin-bottom: 10vh; // Push the card a little more towards the top on mobile

    @include breakpoint-screen-larger-than($breakpoint-tablet) {
      max-width: 400px;
      margin: 0 auto;
    }

    .word-primary {
      background-color: $color-tertiary;
      margin-bottom: $spacing-large;
      font-size: 1.2em;
      padding: $spacing-large;
    }
  
    .word-secondary {
  
      flex-grow: 1; // Make the secondary words take up the rest of the unused height
  
      // Evenly space out the words on the card
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      & p {
        margin: $spacing-small;
        border-bottom: 1px dashed #e7e7e7;

        // Remove the dashed border on the bottom word
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }