
.button-primary {
  @include stop-mobile-text-highlight;
  @include white-text-on-dark-bg;

  border: 0;
  border-radius: 6px;
  background-color: $color-primary;
  padding: $spacing-small $spacing-default;
  font-size: 1.1em; // Slightly larger, to make clicking on buttons easy

  &:active {
    background-color: lighten($color-primary, 5%);
  }

  &:hover {

  }


  &.--confirmable {
    transition: width 0.2s ease-in-out;
    width: 6em;

    &.--confirmed {
      width: 3em;
    }
  }
}




.button-plain {
  @include stop-mobile-text-highlight;

  border: 1px solid darken(#e2e2e2e1, 10%);
  border-radius: 6px;
  background-color: #e2e2e2e1;
  padding: $spacing-small $spacing-default;
  font-size: 1.1em; // Slightly larger, to make clicking on buttons easy

  &:active {
    background-color: lighten(#e2e2e2e1, 5%);
  }

  &:hover {
    //
  }
}


.game-ui-help-toggle-container {

  @include white-text-on-dark-bg;
  @include border-shadow-ui-element;

  height: 2em;
  width: 2em;
  background-color: $color-primary;
  transition: background-color 0.1s ease-out;

  border: 0;

  border-radius: $spacing-x-large;

  font-size: 1.5em;

  // Center the text
  display: flex;
  justify-content: center;
  align-items: center;


  position: fixed;
  
  bottom: $spacing-default;
  right: $spacing-default;
  padding: $spacing-default;

  &.--toggle-off {
  background-color: lighten($color-primary, 20%);    
  }
}


