.flash-dialog {
  z-index: 100;
  
  white-space: pre-line; // Used so that '\n' in strings add new line
  position: fixed;
  top: $spacing-default;
  font-size: 1.1rem;
  
  // Centre the flash dialog horizontally
  right: 0; // Use this to place the dialog box to the right on larger screens
  margin: auto $spacing-default;
  width: calc(100vw - #{$spacing-large});
  padding: $spacing-small;
  border-radius: 3px;
  background-color: white;

  // Use transitions to make the flash /messages more eye-catching.
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  transition-delay: 100ms;

  // The styles that are changed in the transition
  transform: scale(1, 1);
  opacity: 100%;

  &.--error {
    background-color: #ffecec;
    border: 1px solid darken(#ffecec, 10%);
    color: #221111;

    .flash-button-close {
      float: right;
    }
  }

  &.--normal {
    background-color: #fafafa;
    border: 1px solid darken(#fafafa, 10%);
  }

  &.--tip {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end; // Place the 'x' button to the right

    // Place the flash message so that the arrow is just above the 'help' button
    top: initial;
    bottom: calc(2em + 48px);
    margin: $spacing-default;
    width: calc(100vw - #{$spacing-large});
    max-width: 600px;

    box-shadow: 0 20px 100px -15px rgba(50, 50, 93, 0.35), 0 30px 60px -25px rgba(0, 0, 0, 0.2);
    // Add a light border to make the it stand out from the background, 
    // and add a bit of contrast
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    height: 60vh !important;
    background-color: #ffffff;
    color: #1b294e;

    border-radius: 6px;
    
    padding: $spacing-default;
    padding-top: $spacing-small;

    // Only when larger text is being displayed, should the dialog
    & .flash-text-container {
      overflow-y: scroll;
      height: 100%;
      width: 100%;
    }

    .flash-button-close {
      padding-bottom: $spacing-default;
    }

    /** This is used for the same purpose as '--hide', but is used by the toggle button
     * to specifically hide the game's tutorial/tips. Easier to use another similar class, 
     * rather than add additional logic and use the '--hide' class.
     */
    &.--toggled-off {
      @extend .--hide;
    }

    // Display a downward arrow
    &:after {
      content: "";
      position: absolute;
      top: 99%;
      right: 10px;
      border-top: 20px solid black;
      border-top-color: white; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent; 
   } 
  }

  &.--hide {
    opacity: 0%;
    transform: scale(0.95, 0.8); // Don't scale the width as much as it looks a little strange
    transform: translateY(3rem);
    pointer-events: none; // Don't allow the flash message to be clicked after it has been hidden
  }
}

// Used to draw the 'x' button
.flash-button-close {

  & .x-line {
    width: 28px;
    height: 2px;
    background-color: #505050;

    &.top {
      transform: translateY(13px) rotate(45deg);      
    }

    &.bottom {
      transform: translateY(11px) rotate(135deg);
    }
  }
}

// Used specifically to add some space between the 'x' and the flash message text
// when it comes to the informational flash messages
.flash-dialog.--tip .flash-button-close {
  height: 40px;
}