.game-ui {

  @include border-shadow-ui-element;

  display: flex;
  background-color: $color-secondary;
  position: fixed;
  border-radius: 32px;
  padding: 12px;
}

.enter-points {

  bottom: $spacing-default;

  // Centre the ui elements
  left: 50%;
  transform: translateX(-50%);

  .input {
    font-size: 1rem;
    width: 9em;

    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 3px solid #EA5455;
  }

  .button-primary {

    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1em;
  }
}


.gameui-container {

  display: flex;
  position: fixed;
  justify-content: center;
  bottom: $spacing-small;
  left: 0;
  width: 100%;

  .confirm-points {

    @include white-text-on-dark-bg;
    @include border-shadow-ui-element;

    display: flex;
    align-items: center;
    background-color: $color-secondary;
    padding: $spacing-default;
    border-radius: 16px;

    p {
      font-size: 1.2rem; // Make the text a little smaller
      margin-right: $spacing-small;
    }

    .button-primary {
      font-size: 1.2rem;
    }
  }
}


// The timer displayed for everybody during the round
.game-ui-timer-container {
  @include border-shadow-ui-element;

  position: fixed;
  bottom: $spacing-x-large;
  right: $spacing-default;
  padding: $spacing-default;

  background-color: $color-secondary;
  transition: color 0.2s ease-out;
  color: white;

  border-radius: $spacing-x-large;

  // Center the text
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  &.--red-attention-text {
    transition: color 0.01s ease-out;
    color: #ff3a3a;
  }
}