/*

Nice gradient

background: rgb(255,162,0);
background: linear-gradient(135deg, rgba(255,162,0,1) 0%, rgba(226,52,55,1) 28%, rgba(172,0,113,1) 63%, rgba(106,13,192,1) 100%); 

Another nice gradient to check out

background: rgb(255,145,82);
background: linear-gradient(135deg, rgba(255,145,82,1) 0%, rgba(245,87,167,1) 24%, rgba(173,23,252,1) 47%, rgba(50,137,255,1) 79%, rgba(33,232,163,1) 100%); 

*/

.screen-container {
  border: 2px solid tomato;
  height: 400px;
}

#display-teams {
  display: flex;
}

.lobby-team-container {
  flex-grow: 1;
}

.__player {

  display: inline-block;

  &.div-team1 {
    background-color: #bd0000;
    color: white;
  }

  &.div-team2 {
    background-color: #002fff;
    color: white;
  }
}

.word-primary {
  margin-bottom: 48px;
}

.--display-hidden {
  display: none;
}