
// Base
@import "_base/reset.scss";

// Abstracts
@import "_abstracts/variables.scss";
@import "_abstracts/mixins.scss";

// Layouts
@import "_layout/screen.scss";
@import "_layout/mainmenu.scss";
@import "_layout/lobby.scss";
@import "_layout/preparation.scss";
@import "_layout/worddisplay.scss";
@import "_layout/review.scss";
@import "_layout/countdown.scss";
@import "_layout/postround.scss";

// Components
@import "_components/buttons.scss";
@import "_components/inputs.scss";
@import "_components/gameui.scss";
@import "_components/flash.scss";

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 140%;
}

p {
  color: $color-text-black;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-header-black;
}

body {
  font-size: 1.2em; // Designed to be easily played on mobile, so make all text somewhat larger
  background-color: white;

  @include breakpoint-screen-larger-than($breakpoint-desktop) {
    font-size: 1.3em;
  }
}

.app-container {
  // Make the app span the screen, minus the margins
  width: 100vw;
  height: 80vh;
  background-color: white;
}

.gradient-bg {
  background: #44ffcd;
  background: linear-gradient(180deg, #44ffcd 0%, #af42f8 100%);
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh; // Lower the viewheight a little, otherwise the gradient's full colours can't be seen
}

.wavy-bg {
  position: fixed;
  top: 65vh;
  width: 100%;
}

// Used to colour the area below the wavy bg svg
.white-bg {
  height: 1000px;
  width: 100%;
  position: relative;
  top: -8px;
  background-color: white;
}


.test-container {
  display: flex;
}

.test {
  height: 40px;
  width: 20%;
  display: inline-block;
  margin-top: 10px;

  &.color-primary {
    background-color: $color-primary;
  }

  &.color-secondary {
    background-color: $color-secondary;
  }

  &.color-tertiary {
    background-color: $color-tertiary;
  }

  &.color-bg {
    background-color: $color-bg;
  }

  &.color-white {
    background-color: white;
  }
}

.--display-hidden {
  display: none !important;
}