/*

Nice gradient

background: rgb(255,162,0);
background: linear-gradient(135deg, rgba(255,162,0,1) 0%, rgba(226,52,55,1) 28%, rgba(172,0,113,1) 63%, rgba(106,13,192,1) 100%); 

Another nice gradient to check out

background: rgb(255,145,82);
background: linear-gradient(135deg, rgba(255,145,82,1) 0%, rgba(245,87,167,1) 24%, rgba(173,23,252,1) 47%, rgba(50,137,255,1) 79%, rgba(33,232,163,1) 100%); 

*/

// Base
@import "_base/reset.scss";

// Abstracts
@import "_abstracts/variables.scss";
@import "_abstracts/mixins.scss";

// Layouts
@import "_layout/screen.scss";
@import "_layout/mainmenu.scss";
@import "_layout/lobby.scss";
@import "_layout/preparation.scss";
@import "_layout/worddisplay.scss";
@import "_layout/review.scss";
@import "_layout/countdown.scss";
@import "_layout/postround.scss";

// Components
@import "_components/buttons.scss";
@import "_components/inputs.scss";
@import "_components/gameui.scss";
@import "_components/flash.scss";

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.3em; // Designed to be easily played on mobile, so make all text somewhat larger
  background-color: $color-bg;
}

.app-container {
  // Make the app span the screen, minus the margins
  width: calc(100vw - (#{$spacing-small} * 2));
  height: calc(100vh - (#{$spacing-small} * 2));
  margin: $spacing-small;
  
  background-color: white;
  // height: 100%;
  @include border-shadow-soft-wide;
  border-radius: 6px;
}

.test-container {
  display: flex;
}
.test {
  height: 40px;
  width: 20%;
  display: inline-block;
  margin-top: 10px;

  &.color-primary {
    background-color: $color-primary;
  }

  &.color-secondary {
    background-color: $color-secondary;
  }

  &.color-tertiary {
    background-color: $color-tertiary;
  }

  &.color-bg {
    background-color: $color-bg;
  }

  &.color-white {
    background-color: white;
  }
}

.--display-hidden {
  display: none !important;
}